// color picker...
$color_light: hsl(0, 0%, 89%);
$color_dark: #000;
$color_dark_alt: #111;
$color_hotpink: hotpink;

$font_size_normal: 1rem;
$font_size_small: 0.85rem;
$font_size_biger: 4.2rem;
$font_size_big: 2.1rem;
$font_size_h3: 1.5rem;


// Font Family
$font_primary: 'Quantico', sans-serif;